.card{
    width: 100%;
    height: 100px;
    background-color: darkorange;
    color: white ;
    border-radius: 15px;
}

.buttonPrincipal{
    background-color:darkgray ;
    color: white;
    padding: 10px 20px ;
}